@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Туристическая компания "Глобиус-М"
    <ul>
        <li> Шенген визы</li>
        <li> Визы в США, Англию, Болгарию</li>
        <li> Отдых на море</li>
        <li> Экскурсионные туры</li>
    </ul> 
</p>
