@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Туристическая компания "Глобиус-М"<br />
    Беларусь, г. Минск, Свободы пл. 23, к. 35в<br />
    <abbr title="Phone1"> +375 29 337-37-91 </abbr> - Галина <br />
    <abbr title="Phone2"> +375 29 837-37-19 </abbr> - Настёна :) <br />
</address>

<address>
    <strong>Директор:</strong>   <a href="mailto:Support@example.com">Galina@example.com</a><br />
    <strong>Старший специалист:</strong> <a href="mailto:Marketing@example.com">Nastya@example.com</a>
</address>